<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eni-Enchères</title>

</head>

<body>



	
	<main>
	<form action="/vente" method="post">
	
		<h2> Nouvelle ventre</h2>
		<ul class="flex-outer">
		
		<label for="article">Article</label>
		<input type ="text" id="article" name="article">
		
		<label for="categorie">Catégorie</label>
		<select name="categorie" id="categorie">
		<option value=""> Choisir une catégorie
		</option>
		<option value ="electromenager">electromenager</option>
		<option value ="meuble">meuble</option>
		<option value ="loisir">loisir</option>
		<option value ="truc">truc</option>
		</select>
		
		<label for="description">Description :</label>
		<textarea id="description" name="description" rows="5" col="50"></textarea>
		
		<label for="photo">Photo de l'article :</label>
		<input type="file" id="upload" name="upload" accept="image/png, image/jpeg" />
		
		Prix initial :
		Début de l'enchère :
		Fin de l'enchère :
		Retrait :
		<button type="submit">Enregistrer</button>
		<button type="reset"> Annuler</button>
		
			</form>
	</main>

</body>
</html>