<header th:fragment="entete">
<link rel="stylesheet" th:href="@{/css/header.css}">	
<!-- police -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
 
<h1 id="nav-title"><a th:href="@{/encheres}">ENI-Enchères</a></h1>
<p> Texte inspirant c'est super cool les enchères </p>
 
<th:block data-th-if="${utilisateurEnSession == null or utilisateurEnSession.idUtilisateur == 0}">
		<a href="/encheres/inscription">S'inscrire</a>
		<a href="/encheres/connexion">Se connecter</a>
	</th:block>
<th:block data-th-if="${utilisateurEnSession != null and utilisateurEnSession.idUtilisateur > 0}">
		<a href="/encheres/vente">Vendre un article</a>
		<a href="/encheres/profil">Voir mon profil</a>
		<a href="/encheres/deconnexion">Déconnexion</a>
	</th:block>
 
 
</header>
 
 
