<header th:fragment="entete">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/header.css}">	
<!-- police -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

<div class="entete">
<h1 id="nav-title"><a th:href="@{/encheres}">ENI-Enchères</a></h1>
<p> Enchères en chair </p>
<p th:if="${utilisateurEnSession !=null && utilisateurEnSession.idUtilisateur > 0}" th:text="'Bonjour ' + ${utilisateurEnSession.prenom} + ' !'">hello</p>

 
<th:block data-th-if="${utilisateurEnSession == null or utilisateurEnSession.idUtilisateur == 0}">
	<nav class="connect">
		<a th:href="@{/encheres/inscription}">S'inscrire</a>
		<a th:href="@{/encheres/connexion}">Se connecter</a>
	</nav>	
</th:block>

<th:block data-th-if="${utilisateurEnSession != null and utilisateurEnSession.idUtilisateur > 0}">
	<nav class="disconnect">
		<a th:href="@{/encheres/vente}">Vendre un article</a>
		<a th:href="@{/encheres/profil(pseudo=${utilisateurEnSession.pseudo})}">Voir mon profil</a>
		<a th:href="@{/encheres/deconnexion}">Déconnexion</a>
	</nav>
</th:block>
</div>
</header>


