<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="entete">
		<div> <img alt ="logoenchere" width=65 th:src="@{/images/logoenchere.jpg}"></div>
		<h1 id="nav-title"><a th:href="@{/encheres}">ENI-Enchères</a></h1>

		<nav>
			<ul>
				<li><a th:href="@{/films}">Films</a></li>
				<li><a th:href="@{/films/creer}">Création</a></li>
				<li><a th:href="@{/contexte}">Contextes</a></li>
				</ul>
		</nav>
	<th:block data-th-if="${membreEnSession != null and membreEnSession.id > 0}">
		<p>Membre : </p>
		<p th:text="${membreEnSession.prenom}"></p>
	</th:block>
	</header>
</body>
</html>