@charset "UTF-8";

ul{
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	max-width: 75rem;
	margin: 0 auto;
	list-style: none;
}
/* > pour cible l'enfant direct y'a l'air, genre là ca selectionne tous les li sous un ul*/
ul > li{
	padding: 1rem;
	width: 100%;
	max-width:300px;
	box-sizing: border-box;

}

ul>li label{
	font-weight: bold;
	display:block;
	margin-bottom:0.5rem;
	color: #f1f1f1;
	font-size: 0.95rem;
}

ul > li button{
	cursor:pointer;
}