@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

	
*{
	margin: 0;
	font-family: 'Lato';
}
.entete a{
	text-decoration:none;
}
a{
	outline:none;
	
	color : black;
	text-decoration: underline;
	font-weight: bold;

}

form a{
	color:white;
}

h1,h2{
	 font-family: "Passion One";
}


.erreur{
  color:red;
  white-space: pre-line;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
  padding:1em;
}


form .compte-rebours{
	color:rgb(113,167,230);
}

