@charset "UTF-8";

h1, p, a{
	
	margin : 0;
	padding: 0;
	font-family: 'Lato';
}

h1{
	font-size: 2rem;
  font-family: "Passion One";
padding : 0.6px;
font-weight : 500;
	
}

p{
	font-size: 1rem;
	font-weight: 300;
	
}

header {

padding:2.5rem;
text-align:center;
background-color:#33cccc;
color:white;	
}
