<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
<link rel="stylesheet" th:href="@{/css/connexion.css}">
<link rel="stylesheet" th:href="@{/css/general.css}">
 
<!-- icon pour le formulaire oui -->
<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
 
 
<body>
<header th:replace="~{fragments/entete::entete}"></header>
 
		
	<main>
 

		<form class="login-form" th:action="@{/encheres/connexion}" method="post" th:object="${utilisateur}">
		<h1>Se Connecter</h1>
			<div class="form-input">
				<label for="pseudo">Identifiant :</label>
				<i class="fa fa-user icon"></i>
				<input type="text" placeholder="Pseudo" id="pseudo" name="pseudo" class="form-control"  required>
				
				</div>
				
			<div class="form-input">
				<label for="motdepasse">Mot de passe :</label>
				<i class="fa fa-lock icon"></i>
				<input type="password"  placeholder="Mot de passe" id="motdepasse" name="motdepasse" class="form-control" required >

			</div>
			
				<button type="submit" class="form-button">Connexion</button>  
			<div>
			
			<input type="checkbox" id="sesouvenirdemoi" name="sesouvenirdemoi"  >
			<label for="sesouvenirdemoi">Se souvenir de moi</label>
			</div>	

				<a href="/encheres/inscription">Créer un compte</a>
				
			</form>
	
	</main>
</body>
</html>