<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:replace="~{fragments/fragment-entete::entete}"></header>
<form action="" method="post">
	<h1>Connectez-vous</h1>
		<ul class="" th:each="item : ${listefilms}">
			<a class="">
			<li>
				<label for="pseudo">Identifiant :</label> 
				<input type="text" id="inputPseudo" name="pseudo"  th:value required>
			</li>
			<li>
				<label for="motDePasse">Mot de passe :</label> 
				<input type="text" id="motDePasse" name="motDePasse"  th:value required>
			</li>
			<li> 
				<button type="submit">Connexion</button>  
			</li>
			<li>

				<input type="checkbox" id="seSouvenirDeMoi" name="seSouvenirDeMoi"  th:value required>
				<label for="seSouvenirDeMoi">Se souvenir de moi</label> 
				<a href="">S'inscrire</a>

			</li>
		</ul>

	</form>
</body>
</html>