<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères en cours</title>
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
<link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header th:replace="~{fragments/entete::entete}"></header>
<main>
	<form action="/detail/retour" method="post">
		<h2 th:text="${nomArticle}"></h2>
		<input type="hidden" name="idArticle" th:value="${idArticle}" >
		<ul>
			<li>
				<label for="description">Description : </label>
			<textarea type="text" id="inputDescription" name="description" disabled></textarea> <!--	th:value="${description}" disabled> </textarea>-->
			</li>
			<li>
				<label for="mOffre">Meilleure offre : </label>
				<input type="text" id="inputMOffre" disabled> <!--  name="" th:value="${montantEnchere}" disabled >  -->
			</li>
			<li>
				<label for="miseAPrix">Mise à prix : </label>
				<input type="text" id="miseAPrix" disabled> <!-- name=""  th:value="${article.miseAPrix} + ' points'" disabled >  -->
				<label for="utilisateur"> par</label>
				<input type="text" id="utilisateur" disabled> <!--  name=""  th:value="${enchere.utilisateur.pseudo}" disabled >  -->
			</li>
			<li>
				<label for="dateFinEncheres">Fin de l'enchère : </label>
				 <input type="date" id="dateFinEncheres" disabled> <!--name=""  th:value="${article.dateFinEncheres}" disabled>  -->
			</li>
			<li>
				<label for="retrait">Retrait : </label>
				<input type="text" id="retrait" disabled> <!-- name=""  th:value="${article.retrait.rue} + ' ' + ${article.retrait.codePostal} + ' ' + ${article.retrait.ville}" disabled> -->
			</li>
			<li>
				<label for="vendeur">Vendeur : </label>
				<input type="text" id="vendeur" disabled> <!-- name=""  th:value="${article.utilisateur.pseudo}" disabled> -->
			</li>
			<li>
				<label for="maProposition">Ma proposition : </label>
				<input type="number" id="vendeur" > <!-- name=""  th:value="${article.utilisateur.pseudo}" disabled> -->
			</li>
			<li>
				<button type="submit" name="enchérir" >Enchérir</button>
			</li>	
		</ul>
	</form>
</main>


</body>
</html>