<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Enchères en cours</title>
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
<link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<header th:replace="~{fragments/entete::entete}"></header>
<main>
	<form action="/detail/retour" method="post">
		<h2 th:text="${nomArticle}"></h2>
		<ul>
			<li>
				<label for="mOffre">Meilleure offre : </label>
				<!--<input type="text" id="inputMOffre" name="" th:value="${}"> -->
			</li>
			<li>
				<label for="miseAPrix">Mise à prix : </label>
				<input type="text" id="miseAPrix" name="miseAPrix" th:text="${article.miseAPrix} + ' points'" disabled >
			</li>
			<li>
				<label for="dateFinEncheres">Fin de l'enchère : </label>
				<input type="date" id="dateFinEncheres" name="dateFinEncheres" th:text="${article.dateFinEncheres}" disabled>
			</li>
			<li>
				<label for="retrait">Retrait : </label>
				<input type="text" id="retrait" name="retrait" th:text="${article.retrait.rue} + ' ' + ${article.retrait.codePostal} + ' ' + ${article.retrait.ville}" disabled>
			</li>
			<li>
				<label for="vendeur">Vendeur : </label>
				<input type="text" id="vendeur" name="vendeur" th:text="${article.utilisateur.pseudo}" disabled>
			</li>
			<li>
				<button type="submit" name="annulerVente" >Annuler la vente</button>
				<button type="submit">Back</button>
			</li>
		
		
		
		</ul>
	</form>
</main>


</body>
</html>