<!DOCTYPE html>
<html>
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
<link rel="stylesheet" th:href="@{/css/connexion.css}">
<link rel="stylesheet" th:href="@{/css/general.css}">
<meta charset="UTF-8">
<title>ENI-Enchères</title>

</head>


<body>
 
<header th:replace="~{fragments/entete::entete}"></header>


	<main>
		<form class="login-form" th:action="@{/encheres}" method="post"  th:object="${utilisateur}">
		<h1>Créer un compte</h1>
		<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Incorrect date</p>
		
		<ul>
	
			<li class="form-input">
			<label>Pseudo :</label>
			<input type="text" th:field="*{pseudo}" id="pseudo"/>
			<p th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></p>
			
			</li>
			
			<li class="form-input">
			<label>Nom :</label>
			<input type="text" th:field="*{nom}" id="nom"/>
			</li>
			
			<li class="form-input">
			<label>Prénom :</label>
			<input type="text" th:field="*{prenom}" id="prenom" />
			</li>
			
			<li class="form-input">
			<label>Email :</label>
			<input type="text" th:field="*{email}" id="email" />
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
			
			</li>
			
			<li class="form-input">
			<label> Téléphone :</label>

			<input type="text" th:field="*{telephone}" id="telephone" />

			</li>
			
			<li class="form-input">
			<label>Rue :</label>
			<input type="text" th:field="*{rue}" id="rue" />
			</li>
			
			<li class="form-input">
			<label>Code postal :</label>
			<input type="text" th:field="*{codePostal}" id="cpo" />
			</li>
			
			<li class="form-input">
			<label>Ville :</label>
			<input type="text" th:field="*{ville}" id="ville" />
			</li>
			
			<li class="form-input">
			<label>Mot de passe :</label>
			<input type="password" th:field="*{motDePasse}" id="mdp" />
			</li>
			
			<li class="form-input">
			<label for="confMdp">Confirmation :</label>
			<input type="password" name="confMdp" id="confMdp" />
			</li>
			
			<div class="btn">
				<li >
				<button class="form-button" type="submit">Créer</button>
				</li>
				
				<li >
				<button class="form-button" type="submit" name="annuler">Annuler</button>
				</li>
			</div>
			
		</ul>
		
		</form>
	
	
	
	</main>


</body>
</html>