<!DOCTYPE html>
<html>
<head th:insert="~{fragments/liens::liens}">
<meta charset="UTF-8">
<title>Modifier le profil</title>
</head>
<body>
<header th:replace="~{fragments/entete::entete}"></header>

	<main>
		<form class="login-form" th:action="@{/encheres/profil/modifier}" method="post" th:object=${utilisateur}>
		<h2>Mon profil</h2><br>
		<input type="hidden" th:field="*{idUtilisateur}" id="idUtilisateur" />
		<p class="erreur" th:if="${#fields.hasAnyErrors()}" th:text="#{error.message}" ></p><br>
		
		<ul class="form-list">
		
			<p class="erreur" th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></p>	
			<li>
			<label>Pseudo :</label>
			<input type="text" th:field="*{pseudo}" id="pseudo" />	
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p>	
			<li>
			<label>Nom :</label>
			<input type="text" th:field="*{nom}" id="nom" />
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p>	
			<li>
			<label>Prénom :</label>
			<input type="text" th:field="*{prenom}" id="prenom" />
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
			<li>
			<label>Email :</label>
			<input type="text" th:field="*{email}" id="email" />						
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></p>
			<li>
			<label> Téléphone :</label>
			<input type="text" th:field="*{telephone}" id="telephone" />
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}"></p>
			<li>
			<label>Rue :</label>
			<input type="text" th:field="*{rue}" id="rue" />
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></p>
			<li>
			<label>Code postal :</label>
			<input type="text" th:field="*{codePostal}" id="cpo" />
			</li>
			
			<p class="erreur" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></p>
			<li>
			<label>Ville :</label>
			<input type="text" th:field="*{ville}" id="ville" />
			</li>
			
			<p>Entrez votre mot de passe ou un nouveau <br> pour valider les modifications</p><br>
			<p class="erreur" th:if="${#fields.hasErrors('motDePasse')}" th:errors="*{motDePasse}"></p>
			<p class="erreur" th:if="${#fields.hasErrors('confMdp')}" th:errors="*{confMdp}"></p>
			<li>
			<label>Mot de passe :</label>
			<input type="password" th:field="*{motDePasse}" id="mdp" />
			</li>
			
			<li>
			<label for="confMdp">Confirmation :</label>
			<input type="password" th:field="*{confMdp}" id="confMdp" />
			</li>
			
			<li>
			<label for="credit">Crédit :</label>
			<span th:text="*{credit}" id="credit" ></span>
			<input type="hidden" th:field="*{credit}" />
			</li>
			
			
			<li>
			<button class="form-button" type="submit">Enregistrer</button>
			</li>
			</form>
			
			<form th:action="@{/encheres/profil/sup}" method="get" th:object=${utilisateur}>
				<input type="hidden" th:field="*{idUtilisateur}" id="idUtilisateur" />
				<li>
				<button class="form-button" type="submit">Supprimer mon compte</button>
				</li>
			</form>
		</ul>
		
		
	</main>
		
</body>
</html>