<!DOCTYPE html>
<html>
<head th:insert="~{fragments/liens::liens}">
<meta charset="UTF-8">
<title>Profil utilisateur</title>
</head>
<body>

<header th:replace="~{fragments/entete::entete}"></header>
	
	<main>
		<form class="login-form" th:action="@{/encheres/profil}" method="post" th:object=${utilisateur}>
		<h2 th:text="*{pseudo}"></h2><br>
		<input type="hidden" th:field="*{pseudo}" id="pseudo" />
		
		<ul class="form-list">
	
			<li>
			<label>Pseudo :</label>
			<span th:text="*{pseudo}" id="pseudo"></span>			
			</li>
			
			<li>
			<label>Nom :</label>
			<span th:text="*{nom}" id="nom"></span>
			</li>
			
			<li>
			<label>Prénom :</label>
			<span th:text="*{prenom}" id="prenom"></span>
			</li>
			
			<li>
			<label>Email :</label>
			<span th:text="*{email}" id="email"></span>			
			</li>
			
			<li>
			<label> Téléphone :</label>

			<span th:text="*{telephone}" id="telephone"></span>

			</li>
			
			<li>
			<label>Rue :</label>
			<span th:text="*{rue}" id="rue"></span>
			</li>
			
			<li>
			<label>Code postal :</label>
			<span th:text="*{codePostal}" id="cpo"></span>
			</li>
			
			<li>
			<label>Ville :</label>
			<span th:text="*{ville}" id="ville"></span>
			</li>
			
			<li>
			<label for="credit">Crédit :</label>
			<span th:text="*{credit}" id="credit" disabled></span>
			</li>
			
				
			<li>
			<button type="submit" class="form-button">Modifier</button>
			</li>
			
			
		</ul>
		
		</form>
	</main>

</body>
</html>